


    <div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w">
				<h1>Coming soon!</h1>
			</div>
		</div>
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w tooltip-demo">
				<a data-toggle="tooltip" title="LinkedIn" href="https://www.linkedin.com/in/chrisgconnell"><i class="fa fa-linkedin-square"></i></a>
                <a data-toggle="tooltip" title="GitHub" href="https://github.com/cconnell"><i class="fa fa-github-square"></i></a>
			</div>
		</div>
    </div><!-- /.container -->
    
    <div class="container">
    	<div class="row w centered">
    		<br>		
    		<div class="col-lg-6 col-lg-offset-3">
    			<p>I'm Chris, a full stack web developer in Chicago</p>
                <p>chrisgconnell.com is coming soon, I promise!</p>
                <p>In the meantime, check me out at LinkedIn and GitHub</p>
    		</div>
    	</div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script>
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
	</script>


    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    
    <script>
        $.backstretch("assets/bg.jpg", {speed: 500});
    </script>
